
.image .op{
  width: 100%;
  padding-top: 8%;
  margin: auto;
}

.top{
  padding-top: 12px;
}

.row{
  background-color: silver;

}

.imag{
  margin:auto;

}

.imagg{
  padding-top: 7%;
}

.center{
  text-align: center;
}

.op{  padding-bottom: 8%;}
